:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --card-bg-color: #FFF;
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --light-dark-gray: hsl(0, 0%, 80%);
}
*,
*:before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html  {
    height: 100%;
}
body {
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 35vw bottom 50vh, left 30vw top 50vh;
    background-color: var(--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
}
main {
    display: grid;
    place-content: center;
    height: 100vh;
}
.card {
    width: 330px;
    padding-bottom: 1em;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    overflow: hidden;
}
.card__header {
    height: 150px;
    background-image: url('../images/bg-pattern-card.svg');
}
/* Card body */
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user__photo {
    background-color: var(--card-bg-color);
    border: 5px solid var(--card-bg-color);
    border-radius: 50%;
    transform: translateY(-50%);
}
.user__wrapper {
    margin-top: -2rem;
    text-align: center;
}
.user__name {
    font-size: 18px;
    font-weight: 900;
    color: var(--very-dark-desaturated-blue);
}
.user__age {
    padding-left: .3em;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-grayish-blue);
}
.user__city {
    padding: 1em 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--dark-grayish-blue);
}
.card__footer {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding-top: 1em;
    border-top: 1px solid var(--light-dark-gray);
}
.stats__followers,
.stats__likes {
    text-align: center;
}
.stats__followers p,
.stats__likes p,
.stats__photos p {
    font-size: 18px;
    font-weight: bolder;
    line-height: 1.5;
    color: var(--very-dark-desaturated-blue);
}

.stats__followers span,
.stats__likes span,
.stats__photos span {
    display: block;
    font-size: 10px;
    font-weight: 700;
    color: var(--dark-gray);
    letter-spacing: 1.5px;
}


.footer {
  margin-top: auto;
  padding: 2em;
  text-align: center;
  color: var(--white);
}
.footer__attribution a {
  text-decoration: none;
  color: var(--dark-gray);
  transition: color .1s ease;
}
.footer__attribution a:hover,
.footer__attribution a:focus-visible {
  color: var(--light-dark-gray);
}

@media screen and (min-width: 768px) {
    body {
        background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    }
}